.jd_knowledge {
    display: flex;
    flex-direction: column;
    overflow: hidden;

    & .jd_main {
        display: flex;
        flex-direction: column;
        padding: 0 10px;

        & .jd_page_name {
            font-size: var(--jd_title_font_size);
            color: var(--jd_tertiary_color);
            font-weight: bold;
            width: 100%;
            text-align: center;
            padding: 15px 0;
        }

        & .jd_sections {
            display: flex;
            flex-direction: column;
            justify-content: center;
            list-style-type: none;
            row-gap: 40px;
            padding: 0;
            margin: 30px 0;

            & .jd_sections_itens {
                display: flex;
                flex-direction: column;
                row-gap: 5px;

                & .jd_sections_titles {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    align-items: start;
                    padding-bottom: 15px;

                    & .jd_item_title {
                        font-size: var(--jd_title_font_size);
                        color: var(--jd_tertiary_color);
                        font-weight: 550;
                    }

                }

                & .jd_title_right {
                    align-items: end;
                }

                & .jd_sections_images {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    & .jd_sections_images_background {
                        width: 100%;
                    }
                }

                & .jd_main_certificates {
                    display: flex;
                    flex-direction: column;
                    width: max-content;
                    row-gap: 5px;
                    align-items: center;
                    width: 100%;
                    min-height: 250px;

                    & .jd_certificate_pagination {
                        display: flex;
                        width: 100%;
                        justify-content: end;
                    }
                }

                & .jd_hard_skills_container {
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                    padding: 30px 0;

                    & .jd_hard_skills_substitles {
                        display: flex;
                        justify-content: start;
                        width: 100%;

                        & .jd_hardk_skills_subtitles_title {
                            font-size: var(--jd_subtitle_font_size);
                            color: var(--jd_tertiary_color);
                            font-weight: 400;
                        }
                    }

                    & .jd_hard_skills_container_list {
                        display: flex;
                        list-style-type: none;
                        flex-wrap: wrap;
                        padding: 0;
                        gap: 20px;

                        & .jd_hard_skills_item {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            width: 50px;
                            height: 70px;
                            cursor: pointer;
                            border: 1px solid #b2b2b2;
                            border-radius: 3px;
                            box-shadow: 2px 2px 5px #c5c5c5;

                            & .jd_hard_skills_item_icon {
                                width: 40px;
                                height: 40px;
                            }

                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 576px) {
    .jd_knowledge {
        & .jd_main {
            & .jd_sections {
                row-gap: 5 0px;

                & .jd_sections_itens {
                    & .jd_main_certificates {
                        row-gap: 15px;
                    }
                }
            }
        }
    }
}

@media (min-width: 768px) {
    .jd_knowledge {
        & .jd_main {
            & .jd_sections {
                & .jd_certificates {
                    display: grid;
                    grid-template-areas: 
                    "title title"
                    "image certificate";
                    column-gap: 10px;
                    justify-content: space-around;
                    
                    & .jd_sections_titles {
                        display: flex;
                        align-items: center;
                        grid-area: title;
                    }
                    
                    & .jd_sections_images {
                        display: flex;
                        align-items: center;
                        grid-area: image;
                    }
                    
                    & .jd_main_certificates {
                        grid-area: certificate;
                    }
                }
                
                & .jd_hard_skills {
                    display: grid;
                    grid-template-areas: 
                    "title title"
                    "frontEnd image"
                    "backEnd image"
                    "oderSkills oderSkills";
                    justify-content: space-around;

                    & .jd_sections_titles {
                        display: flex;
                        align-items: center;
                        grid-area: title;
                    }

                    & .jd_sections_images {
                        display: flex;
                        align-items: center;
                        grid-area: image;
                    }

                    & .jd_front_end {
                        grid-area: frontEnd;
                    }

                    & .jd_back_end {
                        grid-area: backEnd;
                    }

                    & .jd_oder_skills {
                        grid-area: oderSkills;
                    }
                }
            }
        }
    }
}

@media (min-width: 992px) {
    .jd_knowledge {
        & .jd_main {
            & .jd_sections {
                & .jd_certificates {
                    display: grid;
                    grid-template-areas: 
                    "title title"
                    "image certificate";
                    column-gap: 10px;

                    & .jd_sections_titles {
                        grid-area: title;
                        justify-content: center;
                    }

                    & .jd_sections_images {
                        display: flex;
                        align-items: center;
                        grid-area: image;

                        & .jd_sections_images_background {
                            width: 450px;
                        }
                    }

                    & .jd_main_certificates {
                        grid-area: certificate;
                    }
                }

                & .jd_hard_skills {
                    display: grid;
                    grid-template-areas: 
                    "title title"
                    "frontEnd image"
                    "backEnd image"
                    "oderSkills image";

                    & .jd_sections_titles {
                        grid-area: title;
                        justify-content: center;
                    }

                    & .jd_sections_images {
                        display: flex;
                        align-items: center;
                        grid-area: image;

                        & .jd_sections_images_background {
                            width: 450px;
                        }
                    }

                    & .jd_front_end {
                        grid-area: frontEnd;
                    }

                    & .jd_back_end {
                        grid-area: backEnd;
                    }

                    & .jd_oder_skills {
                        grid-area: oderSkills;
                    }
                }
            }
        }
    }
}

@media (min-width: 1400px) {
    .jd_knowledge {
        & .jd_main {
            & .jd_sections {
                align-items: center;

                & .jd_certificates {
                    width: 1400px;
                }

                & .jd_hard_skills {
                    width: 1400px;
                }
            }
        }
    }
}