.jd_projects {
    display: flex;
    flex-direction: column;
    overflow: hidden;

    & .jd_main {
        display: flex;
        flex-direction: column;
        padding: 0 10px;

        & .jd_page_name {
            font-size: var(--jd_title_font_size);
            color: var(--jd_tertiary_color);
            font-weight: bold;
            width: 100%;
            text-align: center;
            padding: 15px 0;
        }

        & .jd_sections {
            display: flex;
            flex-direction: column;
            justify-content: center;
            list-style-type: none;
            row-gap: 40px;
            padding: 0;
            margin: 30px 0;

            & .jd_sections_itens {
                display: flex;
                flex-direction: column;
                row-gap: 5px;

                & .jd_sections_titles_links {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    align-items: start;
                    padding-bottom: 15px;

                    & .jd_item_title {
                        font-size: var(--jd_title_font_size);
                        color: var(--jd_tertiary_color);
                        font-weight: 550;
                    }

                    & .jd_sections_projetc_redirects {
                        display: flex;
                        list-style-type: none;
                        padding: 0;
                        column-gap: 15px;

                        & .jd_projetc_redirect_item {
                            & .jd_sections_projetc_links {
                                text-decoration: none;
                                color: var(--jd_secondary_color);

                                & .jd_project_icon {
                                    color: var(--jd_tertiary_color);
                                }
                            }
                        }


                    }
                }

                & .jd_title_right {
                    align-items: end;
                }

                & .jd_section_project {
                    display: flex;
                    flex-direction: column;
                    row-gap: 10px;

                    & .jd_sections_projetc_prevew {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        overflow: hidden;
                        row-gap: 10px;
                        position: relative;
                        border-radius: 5px;

                        &::after {
                            content: "";
                            width: 0;
                            height: 0;
                            top: -30px;
                            left: -30px;
                            border-left: 25px solid transparent;
                            border-right: 25px solid transparent;
                            border-bottom: 25px solid var(--jd_primary_color);
                            position: absolute;
                            transform: rotate(-45deg);
                            animation: animationCircle 5s linear;
                            transition: .5s;
                        }

                        &::before {
                            content: "";
                            width: 0;
                            height: 0;
                            bottom: -30px;
                            right: -30px;
                            border-left: 25px solid transparent;
                            border-right: 25px solid transparent;
                            border-bottom: 25px solid var(--jd_primary_color);
                            position: absolute;
                            transform: rotate(135deg);
                            animation: animationCircle 5s linear;
                            transition: .5s;
                        }

                        &:hover {
                            &::after {
                                top: -5px;
                                left: -16px;
                            }

                            &::before {
                                bottom: -5px;
                                right: -16px;
                            }
                        }

                        & .jd_sections_projetc_image {
                            width: 100%;
                            cursor: pointer;
                            border-radius: 5px;
                            border: 1px solid #7e7e7e42;
                        }
                    }

                    & .jd_sections_texts {
                        display: flex;
                        flex-direction: column;

                        & .jd_sections_subtitle {
                            font-size: var(--jd_text_font_size);
                            color: var(--jd_secondary_color);
                            font-weight: bold;
                            padding: 10px 0 0;
                        }

                        & .jd_sections_text {
                            font-size: var(--jd_text_font_size);
                            color: var(--jd_text_color);
                            text-align: left;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 992px) {
    .jd_projects {
        & .jd_main {
            & .jd_sections {
                & .jd_section_skillhub {
                    & .jd_section_project {
                        display: grid;
                        grid-template-columns: 1fr 1fr;
                        column-gap: 30px;

                        & .jd_sections_projetc_prevew {
                            justify-content: start;
                        }
                    }
                }

                & .jd_section_portfolio_dio {
                    & .jd_section_project {
                        display: grid;
                        grid-template-areas:
                            "text image"
                            "text image";
                        column-gap: 30px;

                        & .jd_sections_projetc_prevew {
                            grid-area: image;
                            justify-content: start;
                        }

                        & .jd_sections_texts {
                            grid-area: text;
                        }
                    }
                }

                & .jd_section_js_calculator {
                    & .jd_section_project {
                        display: grid;
                        grid-template-columns: 1fr 1fr;
                        column-gap: 30px;

                        & .jd_sections_projetc_prevew {
                            justify-content: start;
                        }
                    }
                }

                & .jd_section_java_calculator {
                    & .jd_section_project {
                        display: grid;
                        grid-template-areas:
                            "text image"
                            "text image";
                        column-gap: 30px;

                        & .jd_sections_projetc_prevew {
                            grid-area: image;
                            justify-content: start;
                        }

                        & .jd_sections_texts {
                            grid-area: text;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 1400px) {
    .jd_projects {
        & .jd_main {
            & .jd_sections {
                align-items: center;

                & .jd_section_skillhub {
                    width: 1400px;
                }
                
                & .jd_section_portfolio_dio {
                    width: 1400px;
                }
                
                & .jd_section_js_calculator {
                    width: 1400px;
                }
                
                & .jd_section_java_calculator {
                    width: 1400px;
                }
            }
        }
    }
}