.jd_qualifications {
    display: flex;
    flex-direction: column;
    overflow: hidden;

    & .jd_main {
        display: flex;
        flex-direction: column;
        padding: 0 10px;

        & .jd_page_name {
            font-size: var(--jd_title_font_size);
            color: var(--jd_tertiary_color);
            font-weight: bold;
            width: 100%;
            text-align: center;
            padding: 15px 0;
        }

        & .jd_sections {
            display: flex;
            flex-direction: column;
            justify-content: center;
            list-style-type: none;
            row-gap: 40px;
            padding: 0;
            margin: 30px 0;

            & .jd_sections_itens {
                display: flex;
                flex-direction: column;
                row-gap: 5px;

                & .jd_sections_titles {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    align-items: start;
                    padding-bottom: 15px;

                    & .jd_item_title {
                        font-size: var(--jd_title_font_size);
                        color: var(--jd_tertiary_color);
                        font-weight: 550;
                    }
                }

                & .jd_title_right {
                    align-items: end;
                }

                & .jd_sections_images {
                    display: flex;
                    justify-content: center;

                    & .jd_sections_images_background {
                        width: 100%;
                    }
                }

                & :where(.jd_main_curse, .jd_main_functions) {
                    display: flex;
                    flex-direction: column;
                    position: relative;
                    align-items: center;
                    justify-content: end;
                    row-gap: 5px;

                    & .jd_curse_container {
                        display: flex;
                        flex-direction: column;
                        width: 100%;
                        height: 300px;
                        row-gap: 10px;

                        & .jd_curse_card_link {
                            text-decoration: none;
                        }

                        & .jd_curse_pagination {
                            display: flex;
                            justify-content: end;
                            align-items: center;
                        }
                    }

                    & .jd_functions_container {
                        display: flex;
                        flex-direction: column;
                        width: 100%;
                        height: 300px;
                        row-gap: 10px;

                        & .jd_curse_card_link {
                            text-decoration: none;
                        }

                        & .jd_functions_pagination {
                            display: flex;
                            justify-content: end;
                            align-items: center;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 576px) {
    .jd_qualifications {
        & .jd_main {
            & .jd_sections {
                row-gap: 80px;
                
                & .jd_sections_itens {
                    & :where(.jd_main_curse, .jd_main_functions) {


                        & .jd_curse_container {
                            width: max-content;
                            height: 345px;

                            & .jd_curse_card_link {

                                display: flex;
                                justify-content: center;
                            }
                        }

                        & .jd_functions_container {
                            width: max-content;
                            height: 345px;
                        }

                    }
                }
            }
        }
    }
}

@media (min-width: 768px) {
    .jd_qualifications {
        & .jd_main {
            & .jd_sections {
                & .jd_curses_container {
                    display: grid;
                    grid-template-areas:
                        "title title"
                        "image curses";
                    column-gap: 10px;

                    & .jd_sections_titles {
                        align-items: center;
                        grid-area: title;
                    }

                    & .jd_sections_images {
                        grid-area: image;
                    }

                    & .jd_main_curse {
                        grid-area: curses;

                        & .jd_curse_container {
                            width: 400px;
                            height: 320px;
                        }
                    }
                }

                & .jd_experience_container {
                    display: grid;
                    grid-template-areas:
                        "title title"
                        "functions image";
                    column-gap: 10px;

                    & .jd_sections_titles {
                        align-items: center;
                        grid-area: title;
                        padding: 0 0 25px;
                    }

                    & .jd_sections_images {
                        grid-area: image;
                    }

                    & .jd_main_functions {
                        grid-area: functions;

                        & .jd_functions_container {
                            width: 400px;
                            height: 320px;

                            & .jd_functions_pagination {
                                justify-content: start;
                            }
                        }

                    }

                }
            }
        }
    }
}

@media (min-width: 992px) {
    .jd_qualifications {
        & .jd_main {
            & .jd_sections {
                & .jd_curses_container {
                    display: grid;
                    grid-template-areas:
                        "title title"
                        "image curses";
                    column-gap: 10px;

                    & .jd_sections_titles {
                        align-items: center;
                        grid-area: title;
                    }

                    & .jd_sections_images {
                        grid-area: image;

                        & .jd_sections_images_background {
                            width: 450px;
                        }
                    }

                    & .jd_main_curse {
                        grid-area: curses;

                        & .jd_curse_container {
                            width: 400px;
                            height: 320px;
                        }
                    }
                }

                & .jd_experience_container {
                    display: grid;
                    grid-template-areas:
                        "title title"
                        "functions image";
                    column-gap: 10px;

                    & .jd_sections_titles {
                        align-items: center;
                        grid-area: title;
                    }

                    & .jd_sections_images {
                        grid-area: image;

                        & .jd_sections_images_background {
                            width: 450px;
                        }
                    }

                    & .jd_main_functions {
                        grid-area: functions;

                        & .jd_functions_container {
                            width: 400px;
                            height: 320px;

                            & .jd_functions_pagination {
                                justify-content: start;
                            }
                        }

                    }

                }
            }
        }
    }
}

@media (min-width: 1400px) {
    .jd_qualifications {
        & .jd_main {
            & .jd_sections {
                align-items: center;

                & .jd_curses_container {
                    display: grid;
                    grid-template-areas:
                        "title title"
                        "image curses";
                    column-gap: 10px;
                    width: 1400px;

                    & .jd_sections_titles {
                        align-items: center;
                        grid-area: title;
                    }

                    & .jd_sections_images {
                        grid-area: image;

                        & .jd_sections_images_background {
                            width: 450px;
                        }
                    }

                    & .jd_main_curse {
                        grid-area: curses;

                        & .jd_curse_container {
                            width: 400px;
                            height: 320px;
                        }
                    }
                }

                & .jd_experience_container {
                    display: grid;
                    grid-template-areas:
                        "title title"
                        "functions image";
                    column-gap: 10px;
                    width: 1400px;

                    & .jd_sections_titles {
                        align-items: center;
                        grid-area: title;
                    }

                    & .jd_sections_images {
                        grid-area: image;

                        & .jd_sections_images_background {
                            width: 450px;
                        }
                    }

                    & .jd_main_functions {
                        grid-area: functions;

                        & .jd_functions_container {
                            width: 400px;
                            height: 320px;

                            & .jd_functions_pagination {
                                justify-content: start;
                            }
                        }

                    }

                }
            }
        }
    }
}