@keyframes nameAnimation {
    0% {
        width: 0%;
    }

    10% {
        width: 100%;
    }

    40% {
        width: 100%;
    }

    50% {
        width: 0%;
        display: none;
    }
}

@keyframes profissionAnimation {
    0% {
        display: none;
    }

    49% {
        display: none;
    }

    50% {
        display: flex;
        width: 0%;
    }

    51% {
        display: flex;
    }

    60% {
        width: 100%;
    }

    90% {
        width: 100%;
    }

    99% {
        display: flex;
    }

    100% {
        width: 0%;
        display: none;
    }
}

@keyframes borderWhriteAnimation {
    from {
        border-color: transparent;
    }

    to {
        border-color: #000;
    }
}

.jd_home {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;

    & .jd_main {
        margin-top: 15px;
        width: 100%;
        padding: 0 10px;

        & .jd_presentation_name {
            display: flex;
            justify-content: center;
            list-style-type: none;
            padding: 0;
            height: 30px;
            width: 100%;
            align-items: center;

            & .jd_presentation_name_item {
                overflow: hidden;

                & :where(.jd_presentation_title_one, .jd_presentation_title_tow) {
                    display: block;
                    color: var(--jd_text_color);
                    font-size: var(--jd_title_font_size);
                    font-weight: bold;
                    overflow: hidden;
                    text-wrap: nowrap;
                    width: 0px;
                    border-right: 3px solid var(--jd_text_color);
                }

                & .jd_presentation_title_one {
                    animation: mark .5s step-end infinite, writeName 15s steps(22, end) infinite;

                    &::after {
                        content: "Jobson de Oliveira Coutinho";
                    }
                }

                & .jd_presentation_title_tow {
                    animation: mark .5s step-end infinite, writeWork 15s steps(22, end) infinite;

                    &::after {
                        content: "Desenvolvedor Full-Stack";
                    }
                }

                @keyframes mark {
                    50% {
                        border-right-color: transparent;
                    }
                }

                @keyframes writeName {
                    0% {
                        display: block;
                    }

                    2% {
                        width: 0;
                    }

                    10% {
                        width: 220px;
                    }

                    40% {
                        width: 220px;
                    }

                    47% {
                        display: block;
                    }

                    48% {
                        display: none;
                        width: 0;
                    }

                    100% {
                        width: 0;
                        display: none;
                    }
                }

                @keyframes writeWork {
                    0% {
                        width: 0;
                        display: none;
                    }

                    51% {
                        width: 0;
                        display: none;
                    }

                    52% {
                        width: 0;
                        display: block;
                    }

                    60% {
                        width: 205px;
                    }

                    90% {
                        width: 205px;
                    }

                    98% {
                        width: 0;
                    }

                    99% {
                        display: none;
                    }
                }
            }

        }

        & .jd_sections {
            display: flex;
            flex-direction: column;
            justify-content: center;
            list-style-type: none;
            overflow: hidden;
            row-gap: 10px;
            padding: 0;
            margin: 30px 0;

            & .jd_sections_itens {
                display: flex;
                flex-direction: column;
                row-gap: 5px;

                & .jd_sections_titles {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    align-items: start;

                    & .jd_personality_title {
                        font-size: var(--jd_title_font_size);
                        color: var(--jd_tertiary_color);
                        font-weight: 550;
                    }
                }

                & .jd_sections_images {

                    & .jd_sections_images_background {
                        width: 100%;
                    }
                }

                & .jd_sections_texts {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;

                    & .jd_sections_text {
                        font-size: var(--jd_text_font_size);
                        color: var(--jd_text_color);
                        text-align: left;
                        text-indent: 10px;
                    }
                }
            }
        }
    }
}

@media (min-width: 768px) {
    .jd_home {
        & .jd_main {
            & .jd_personality {
                & .jd_personality_apresentation {
                    display: grid;
                    grid-template-areas:
                        "title text"
                        "image text";
                    justify-content: center;
                    align-items: center;
                    column-gap: 20px;

                    & .jd_presentation_titles {
                        grid-area: title;
                    }

                    & .jd_presentation_image {
                        grid-area: image;
                    }

                    & .jd_presentation_text {
                        grid-area: text;
                    }
                }

                & .jd_personality_history {
                    display: grid;
                    grid-template-areas:
                        "text image";
                    justify-content: center;
                    align-items: center;
                    column-gap: 20px;

                    & .jd_history_img {
                        grid-area: image;
                    }

                    & .jd_history_text {
                        grid-area: text;
                    }
                }

                & .jd_personality_walk {
                    display: grid;
                    grid-template-areas:
                        "image text";
                    justify-content: center;
                    align-items: center;
                    column-gap: 20px;

                    & .jd_walk_img {
                        grid-area: image;
                    }

                    & .jd_walk_text {
                        grid-area: text;
                    }
                }
            }
        }
    }
}

@media (min-width: 992px) {
    .jd_home {
        & .jd_main {
            & .jd_personality {
                display: flex;
                align-items: center;

                & .jd_personality_apresentation {
                    grid-template-areas:
                        "title title"
                        "image text";
                    margin-top: 30px;

                    & .jd_presentation_titles {
                        align-items: center;
                    }
                }
            }

            & .jd_sections {
                & .jd_sections_itens {
                    & .jd_sections_images {
                        & .jd_sections_images_background {
                            width: 450px;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 1200px) {
    .jd_home {
        & .jd_main {
            padding: 0 20px;

            & .jd_personality {
                display: flex;
                align-items: center;

                & .jd_personality_apresentation {
                    column-gap: 50px;
                }
            }

            & .jd_sections {
                & .jd_sections_itens {
                    & .jd_sections_images {
                        & .jd_sections_images_background {
                            width: 500px;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 1400px) {
    .jd_home {
        & .jd_main {
            & .jd_personality {
                & .jd_personality_apresentation {}
            }

            & .jd_sections {
                & .jd_sections_itens {
                    & .jd_sections_images {
                        & .jd_sections_images_background {
                            width: 500px;
                        }
                    }

                    & .jd_sections_texts {
                        & .jd_sections_text {
                            width: 700px;
                        }
                    }
                }
            }
        }
    }
}