:root {
    --jd_primary_color: #fff;
    --jd_secondary_color: #000;
    --jd_tertiary_color: #4C81D4;
    --jd_quaternary_color: #0F2343;
    --jd_quinary_color: #22EF80;

    --jd_title_font_size: 1.2rem;
    --jd_subtitle_font_size: 1.1rem;
    --jd_text_font_size: 1rem;
}

.jd_home {
    padding: 5px;
}