* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --jd_primary_color: #fff;
    --jd_secondary_color: #000;
    --jd_tertiary_color: #00B2FF;
    --jd_quaternary_color: #424242;

    --jd_title_font_size: 1.1rem;
    --jd_text_font_size: .9rem;

    --jd_padding_container: 20px 5px;
}