* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --jd_primary_color: #fff;
    --jd_secondary_color: #000;
    --jd_tertiary_color: #2095c0;
    --jd_quaternary_color: #0F2343;
    --jd_quinary_color: #22EF80;
    --jd_card_text_color: #7a7a7a ;

    --jd_color_header: #ecfff2;

    --jd_text_color: #444444;
    --jd_line_color: #2a3f60;

    --jd_title_font_size: 1.3rem;
    --jd_subtitle_font_size: 1.2rem;
    --jd_text_font_size: 1.1rem;
    --js_text_font_size_n2: 1rem;

}